[submodule "cap"]
	path = cap
	url = git@github.com:Psychedelic/cap
[submodule "dab"]
	path = dab
	url = git@github.com:Psychedelic/dab
[submodule "wicp"]
	path = wicp
	url = git@github.com:Psychedelic/wicp
[submodule "crowns"]
	path = crowns
	url = git@github.com:Psychedelic/crowns.git
