[submodule "cap"]
	path = cap
	url = git@github.com:Psychedelic/cap
[submodule "DIP721"]
	path = DIP721
	url = git@github.com:Psychedelic/DIP721
[submodule "DIP20"]
	path = DIP20
	url = git@github.com:Psychedelic/DIP20
[submodule "dab"]
	path = dab
	url = git@github.com:Psychedelic/dab
