name: Healthcheck

on:
  pull_request:
    branches: [ develop, main ]
  push:
    branches:
      - main
      - developer

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          token: ${{ secrets.PAT }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Adds ic-cdk-optimizer
        run: |
          cd ./.bin/stable-x86_64-unknown-linux-gnu
          gzip -d ic-cdk-optimizer.gz
          cp ic-cdk-optimizer /usr/local/bin

      - name: Adds agent-rs
        run: |
          cd ./.bin/stable-x86_64-unknown-linux-gnu
          gzip -d icx.gz
          cp icx /usr/local/bin

      - name: Cache Dfx
        id: cache-dfx
        uses: actions/cache@v2
        with:
          path: |
            /usr/local/bin/dfx
          key: cache-dfx-${{ hashFiles('dfx.json') }}

      - name: Install DFX
        if: steps.cache-dfx.outputs.cache-hit != 'true'
        env:
          DFX_VERSION: 0.9.2
        run: |
          yes Y | DFX_VERSION="$DFX_VERSION" sh -ci "$(curl -fsSL https://sdk.dfinity.org/install.sh)"

      - name: Adds pcregrep
        run: |
          sudo apt-get update
          sudo apt-get -y install pcregrep

      - name: Cache build artifacts
        id: cache-rust-target
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: cache-rust-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Dfx local network replica
        run: |
          dfx start --background

      - name: Dfx identity
        run: |
          dfx identity use default

      - name: Services
        run: |
          npm run services:start
        env:
          DFX_WARNING: -version_check 
          DEBUG: 0
          
      - name: Healthcheck
        run: |
          npm run marketplace:healthcheck
        env:
          NODE_ENV: ci
          DFX_WARNING: -version_check 
          DEBUG: 0