name: Healthcheck

on:
  pull_request:
    branches: [ develop, main ]
  push:
    branches:
      - main
      - developer

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/psychedelic/ci-dip-721
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.PAT }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      # - name: Path setup
      #   run: |
      #     mkdir -p /github/home/.cargo
      #     ln -s "/root/.cargo/bin" /github/home/.cargo

      - name: Env variables
        run: |
          echo "PATH=/root/.cargo/bin:$PATH" >> $GITHUB_ENV

      # - name: Rust toolchain
      #   run: rustup install stable && rustup default stable && rustup target add wasm32-unknown-unknown

      - name: Healthcheck 
        run: dfx start --background && yarn cap:start && yarn marketplace:healthcheck
        env:
          NODE_ENV: ci
